:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #fff;
  --outfit: "Outfit", serif;
  --young-serif: "Young Serif", serif;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  font-family: var(--outfit);
  font-size: 1rem;
  font-weight: 400;
  color: var(--stone-900);
  line-height: 1.5;
  background-color: var(--stone-100);
}

img {
  max-width: 100%;
  margin-bottom: 1.5em;
  /* border-radius: 0.75em; */
}

/* =============
    TYPOGROPHY
============= */

h1,
h2,
span {
  font-weight: 700;
}

.title {
  font-family: var(--young-serif);
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 0.66em;
  line-height: 1;
}

/* preparation */

.preparation-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--rose-800);
  line-height: 1;
}

.preparation-list {
  padding-left: 1.5em;
  color: var(--stone-600);
  /* font-size: 0.5rem; */
}

.preparation-item {
  padding-left: 1em;
}

/* =============
    Layout
============= */

.card {
  max-width: 700px;
  width: 100%;
  background-color: var(--white);
  /* padding: 2.5em; */
  /* border-radius: 1.5em; */
}

.text-content {
  padding: 0 2em;
}

.subtitle {
  margin-bottom: 2em;
}

.preparation {
  background-color: var(--rose-50);
  padding: 1.5em;
  border-radius: 0.75em;
  margin-bottom: 2em;
}
